.page-header {
  margin-top: 40px;
}

.fv-form-bootstrap4:not(.form-inline) label~.fv-control-feedback {
  top: 37px;
}

.fv-control-feedback {
  right: 15px;
}

.fv-form-bootstrap4 .has-warning label,
.fv-form-bootstrap4 .has-warning .fv-control-feedback {
  color: #e67e22;
}

.form-control.is-valid, .was-validated .form-control:valid,
.form-control.is-invalid, .was-validated .form-control:invalid {
  background: none;
}

.fv-plugins-bootstrap:not(.form-inline) label ~ .fv-plugins-icon {
  right: 15px;
  top: 37px;
}

#realEstate .fv-plugins-icon {
  right: 20px;
  top: 0;
}

#realEstate .btn-link {
  color: #495057;
}

#realEstate .bootstrap-select>.dropdown-toggle {
  border: 1px solid #ced4da;
}

#realEstate.has-danger .bootstrap-select>.dropdown-toggle {
  border: 1px solid #dc3545;
}

#realEstate.has-success .bootstrap-select>.dropdown-toggle {
  border: 1px solid #28a745;
}

.hellip-loading::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0
}

@keyframes ellipsis {
  to {
    width: 1.25rem
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25rem
  }
}
